<div class="container-fluid">
  <div class="row">

  <div class="col-md-3">
      <aside>
          <div class="sidebar left ">

              <button type="button" class="btn btn-primary create-report">+ Create a new Report</button>

              <ul class="list-sidebar bg-defoult">
                <input type="radio" name="1" value="Reports"> Reports<br>
                <input type="radio" name="1" value="Spam"> Spam<br>
                <input type="radio" name="1" value="Trash"> Trash <br>
                <input type="radio" name="1" value="other"> Other
              </ul>
          </div>
       </aside>
   </div>
  </div>
</div>
