<p>values works!</p>

<div class="row">
  <div class="col-md-4">      <aside>
    <div class="sidebar left ">

        <button type="button" class="btn btn-primary create-report">+ My Wellbeing Reports! </button>

        <ul class="list-sidebar bg-defoult">
          <input type="radio" name="1" value="Reports"> Reports<br>
          <input type="radio" name="1" value="Spam"> Spam<br>
          <input type="radio" name="1" value="Trash"> Trash <br>
          <input type="radio" name="1" value="other"> Other
        </ul>
    </div>
 </aside>
</div>
  <div class="col-md-4">
    <section>
    <div class='circle-container'>
    <a href='#' class='deg1'>  <h1>{{title}}</h1></a>
    <a href='#' class='deg2'><font size="5%"> Testing sdfdsf  sdf sdf sdf sdf sdfdsfsdfd sdfd </font></a>
    <a href='#' class='deg3'>8784</a>
    <a href='#' class='deg4'><img src="./assets/img/api.png"  height="100%" width="100%"></a>
    <a href='#' class='deg5'>74557451</a>
    <a href='#' class='deg6'>102</a>
    <a href='#' class='deg7'>2458</a>
    </div>
    </section>

</div>

</div>







